body {
      text-transform: uppercase;
    }

    ::selection {
   background: transparent;
}
::-moz-selection {
   background: transparent;
}
    
    .header {
    background-image: url("images/header-bg.png");
    background-color: #cd102a;
    background-size: cover;
    background-position: center;
    }
    
    .logo {
      font-family: Arial;
      font-weight: bold;
      color: #ffffff;
      font-size: 30px;
      padding-top:70px;
    }

    .header1 {
      font-family: Verdana;
      font-weight: bold;
      color: #ffffff;
      font-size: 50px;
      padding-top:50px;
      padding-bottom: 0px;
    }

    .header2 {
      font-family: Verdana;
      font-weight: bold;
      color: #ffffff;
      font-size: 54px;
      margin-top:-41px;
    }

    .promo-text {
      font-family: Verdana;
      font-weight: regular;
      color: #88fea7;
      font-size: 36px;
      padding-top:3px;
      padding-bottom: 0px;
    }

    .promo-text-bottom {
      font-family: Verdana;
      font-weight: regular;
      color: #88fea7;
      font-size: 36px;
      margin-top:-30px;
      padding-bottom: 0px;
    }

    .promo-button {
       font-family: Verdana;
      font-weight: bold;
      background-color: #88fea7; 
      border: none;
      color: #000000;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 24px;
      margin-top: 5px;
      margin-bottom: 60px;
    }

    .choice-text {
      font-family: Verdana;
      font-weight: bold;
      color: #000000;
      font-size: 23px;
      padding-top:80px;
      padding-bottom: 20px;
    }

    .post-text {
      font-family: Verdana;
      font-weight: regular;
      color: #000000;
      font-size: 31px;
      padding-top:50px;
    }

    .units-text {
      font-family: Verdana;
      font-weight: bold;
      color: #000000;
      font-size: 35px;
      margin-top: -20px;
    }

    .promo-button-bottom {
       font-family: Verdana;
      font-weight: bold;
      background-color: #88fea7; 
      border: none;
      color: #000000;
      padding: 15px 60px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 28px;
      margin-top: 15px;
      margin-bottom: 130px;
    }

.promo-button:hover {
  background-color: #E0FFFF; 
  transition-duration: 0.5s;
}

.promo-button-bottom:hover {
  background-color: #66CDAA; 
  transition-duration: 0.5s;
}
